<style>

  h3,h4,p{
    color: #E0FBFC;
  }

  .featured-carousel{
    width:100%;
    height:300px;
  }

  .carousel {
    width:700px;
    height:360px;
  }

  .featured-row{
    padding-left: 50px;
  }

  .carousel-caption{
    background-color: #3D5A80;
    border-radius: 5px;
  }

  .tour-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .card-body{
    background-color: #3D5A80;
    height:100px;
  }

  .tour-card{
    margin-bottom: 3px;
    width:100%;
  }

  .tour-card img {
    height:130px;
    background-color: #293241;
  }

  .card {
    background-color: #3D5A80;
  }

  .featured-img {
    border: 1px solid #293241;
    border-radius: 5px
  }

</style>

<div class="row">
  <div class="col-6">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption">
            <h3>Food Tour</h3>
            <p>Go on walking tour and discover new restaurants!</p>
          </div>
          <img class="d-block w-100 featured-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <h3>Art Tour</h3>
            <p>Find the nuance in artistic expression</p>
          </div>
          <img class="d-block w-100 featured-img" src="https://www.agora-gallery.com/advice/wp-content/uploads/pexels-photo-69903.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <h3>Film Tour</h3>
            <p>Find out where your favourite movie was shot!</p>
          </div>
          <img class="d-block w-100 featured-img" src="http://cdn.collider.com/wp-content/uploads/pacific-rim-guillermo-del-toro-idris-elba.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-6 featured-row">

    <div class="card tour-card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJNJ7O3RX_W9PXHGdPh3gYne7blOyMNN5OANFL72Xrm5oG1dMIFQ" alt="Card image cap">
      <div class="card-body">
        <div class="tour-title">
          <h4 class="card-text">Eat your way throught the city</h4>
          <p>Likes: 84 <i class="far fa-star" style="color:#EE6C4D"></i></p>
        </div>
        <p>Walk, eat, stand up and repeat</p>
      </div>
    </div>

    <div class="card tour-card">
      <img class="card-img-top" src="https://www.toronto.ca/wp-content/uploads/2017/12/9578-moving-to-toronto-7.png" alt="Card image cap">
      <div class="card-body">
        <div class="tour-title">
          <h4 class="card-text">Discover the 6ix</h4>
          <p>Likes: 649 <i class="far fa-star" style="color:#EE6C4D"></i></p>
        </div>
        <p>Take a Walking tour of Toronto! See the sights and take in the 6ix.</p>
      </div>
    </div>
  </div>

  </div>
</div>
