<script src="/scripts/map_viewer.js"></script>
<div>
  <div id="map"></div>
</div>

<script async defer
  src="<%= `https://maps.googleapis.com/maps/api/js?key=${process.env.API_KEY}&callback=initMap` %>">
</script>