<style>
  .bg-light {
    background-color: #3D5A80!important;
  }

  .nav-link{
    color:#E0FBFC;
  }

  .navbar-light .navbar-nav .active>.nav-link {
    color:#E0FBFC;
  }

  .navbar-light .navbar-brand{
    color:#E0FBFC;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

  <a class="navbar-brand" href="#">Wiki-Tours</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">View Maps <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">

      <!-- navbar changes if user in logined in or not -->
      <% if(user === -1){ %>

        <li class="nav-item active">
          <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sign Up<span class="sr-only">(current)</span></a>
        </li>

      <% } else { %>

        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>

       <% } %>

    </ul>
  </div>
</nav>
