<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.fillmurray.com/140/100" alt="Card image cap">
  <div class="card-body">
  <div class="row">
    <div class=".col-md-8 ">
      <p class="card-text">Tour Name</p>
    </div>
    <div class=".col-md-2">
      <p class="card-text">Rating 5<i class="far fa-star"></i></p>
    </div>
  </div>
    <div>
      <p>Creator: Jeff</p>
      <p class="card-text">Tour Description</p>
    </div>
  </div>
</div>
