@import 'global_vars';
$thumbnail-height: 150px;
$detail-window-width: 240px;

#map-container {
  position: relative;
}

#map {
  position: fixed;
  height: calc(100vh - #{$nav-bar-height});
  z-index: 0;
}

#details-window {
  position: fixed;
  display: flex;
  top: calc(#{$nav-bar-height} + 50px);
  left: 20px;
  width: $detail-window-width;
  z-index: 1;
}

.img-container {
  height: $thumbnail-height;
  overflow: hidden;
  
  &:after {
    position: absolute;
    content: '';
    height: $thumbnail-height;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0))
  }
  #header-img {
    width: $detail-window-width;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
  }
}

.card-img-overlay {
  height: $thumbnail-height;
}

#map-details {
  display: default;
}

#points-list {
  display: none;
}

#point-details {
  display: none;
}

#points-list .point-entry {
  cursor: pointer;
  &:hover {
    background-color: #EEE;
  }
}