@import 'global_vars';
html body{
  background-color: #eee;
}

body {
  background-color: #293241;

  h1 {
    color: #244751;
  }

  p, a{
    font-family: Roboto;
  }

}

.main-container {
  margin-top: $nav-bar-height + $main-top-margin-offset;
  margin-left: $main-side-margin;
  margin-right: $main-side-margin;
}
