@import 'global_vars';
html body{
  background-color: #eee;
}

body {
  background-color: #293241;

  h1 {
    color: #244751;
  }

}

.main-container {
  margin-top: $nav-bar-height + 10px;
  margin-left: 20px;
  margin-right: 20px;
}
