@import 'map_global';

#header-text-input {
  background-color: rgba(0,0,0,0);
  color: white;
  border: none;
  
  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

#description-input, #point-description-input {
  resize: none;
  border: none;

  &:focus {
    outline: none;
  }
}

button#point-delete {
  float: right;
}

button#img-change {
  position: absolute;
  z-index: 3;
  border: none;
  top: 5px;
  right: 5px;

  &:hover {
    background-color: rgba(255,255,255,0.8)
  }
}

#img-url-modal {
  position: fixed;
  top: 200px;
}


#infowindow-content {
  display: none;
}